/* Generics */

body, figure, h4 {
    margin: 0;
}

h1 {
 font-size: 38px;
 margin-bottom: 0;
}

address{
    font-style: normal;
}

a{
    text-decoration: none;
    color: #00ABDC;
}

h4{
    color: #fff;
}

/* Utilities */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.subtext-grey{
    color: #808080;
}

.subtext{
    font-size: smaller;
}

ul{
    padding-inline-start: 0;
    list-style-position: inside;
}

.tableTh-W50 {
    width: 50%;
}

/* Main Header */

#main-header {
    height: 100px;
    background-color: #48A1FD;
    background-image: url(../img/pattern.png);
    background-size: 30%; 
}

#Logo {
    height: 50px;
    margin-top: 30px;
}

/* Table */

th {
    color: #fff;
    text-align: left;
    background-color: #48A1FD;
}

tr{
    background-color: #B0E5F2;
}

.evenTr{
    background-color: #fff;
}

table{
    border-collapse: collapse;
}

/* Aside Contents */

.aside-article{
    width: 250px;
    height: 175px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    margin-bottom: 10px;
}

#monitor{
    background-image: url(../img/monitor.jpg);
}

#graph{
    background-image: url(../img/graph.jpg);
}

